.jumbotron {
  background-color: #F3DA6D;
  text-align: center;
}
#kit {
  background-color: #C2CCC7;
}
.ten {
  padding-top: 50px;
}
#git {
  background-color: #00cc89;
}
.bit {
  color: #F3DA6D;
}
.lit {
  color: white;
}
